.body {
  height: 100%;
  width: 100%;
}

.table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.tableHeader {
  height: auto;
  text-align: center;
  width: 100%;
  margin: 20px;
  padding: 5px;
  font: 300 2em Roboto, Sans-serif;
  color: #656565;
}

.entry {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  font: 300 1.5em Roboto, Sans-serif;
  color: #555;
}

.name {
  margin: 10px;
}

.toggle {
  margin: 10px;
}

