.body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #272727;
}

.table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.tableHeader {
  height: auto;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin: 20px;
  padding: 5px;
}

.entry {
  width: 90%;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.name {
  margin: 10px;
}

.toggle {
  margin: 10px;
}

